// Specific CSS for your home-page
.grid_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media(max-width: 1024px) {
  .grid_products {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .grid_products {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .grid_products {
    grid-template-columns: 1fr;
  }
}

.double-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
