<div class="main-footer">

  <div class="first-footer">
    <div class="container">

      <div class="row">
        <div class="col text-start">
          <h1>ATMOS</h1>
        </div>

        <div class="col">
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <hr>

      <div class="row text-center">
        <div class="col"><p>Buenos Aires, Argentina</p></div>
        <div class="col"><%= link_to "www.atmos.com", root_path, style:"color: white; text-decoration: none" %></div>
        <div class="col"><p>hola@atmos.com</p></div>
      </div>




    </div>
  </div>

  <div class="second-footer text-center">
    <h6>Codeado con 🖤 en LeWagon Batch #1126</h3>
  </div>

</div>
