<div class="main-footer">

  <div class="first-footer">
    <div class="container">

      <div class="row">
        <div class="col text-start">
          <h1>hola</h1>
        </div>

        <div class="col text-end">
          <h1>hola</h1>
        </div>
      </div>

      <hr>

      <div class="row text-center">
        <div class="col-3">
            <p>hola</p>
        </div>

        <div class="col-3">
          <p>hola</p>
        </div>

        <div class="col-3">
          <p>hola</p>
        </div>

        <div class="col-3">
          <p>hola</p>
        </div>
      </div>


    </div>
  </div>

  <div class="second-footer">

    <div class="footer-copyright">
      Todos los derechos reservados © 2023
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

  </div>

</div>
