<div class="main-footer">

  <div class="first-footer">
    <div class="container">

      <div class="row">
        <div class="col text-start">
          <h1>ATMOS</h1>
        </div>

        <div class="col">
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-3">
            <p>Buenos Aires, Argentina</p>
            <p>1124935199</p>
            <%= link_to "www.nombredepagina.com", root_path, style:"color: white; text-decoration: none" %>
        </div>
    </div>
  </div>

  <div class="second-footer text-center">
    <h6>Todos los derechos reservados © 2023</h3>
  </div>

</div>
