<div class="container">
  <% @orders.each do |order| %>
    <div class="row">
      <div class="col-3"></div>

      <div class="col-6">
        <div class="container py-5">
          <div class="card-product" style="list-style-type: none;">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2><%= order.comment %> </h2>
              <p> <%= order.status %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3"></div>

    </div>
  <% end %>
</div>
