<h1><%= "Nosotros" %></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "rounded", style: "width: 300px; height: 300px;", alt: "Dani" %>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "rounded", style: "width: 300px; height: 300px;", alt: "Nico" %>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "rounded", style: "width: 300px; height: 300px;", alt: "Steff" %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 text-center mt-5">
      <h6>Atmos fue codeado en Le Wagon, Web Development bootcamp por Dani, Nico y Steff</h6>
    </div>
  </div>
</div>
