<h1><%= "Nosotros" %></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <%= image_tag "https://res.cloudinary.com/dcfoaujd5/image/upload/v1677788236/development/nr56movxpc8ydpady9bss6hfk6ai.png", class: "rounded-4", style: "width: 300px; height: 300px;", alt: "Dani" %>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag "https://res.cloudinary.com/dcfoaujd5/image/upload/v1677856848/development/140395536_10224345469887329_5056706005021963037_n_zy4b0y.jpg", class: "rounded-4", style: "width: 300px; height: 300px;", alt: "Nico" %>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag "https://res.cloudinary.com/dcfoaujd5/image/upload/v1677856855/development/profile-pic_tx0bdy.jpg", class: "rounded-4", style: "width: 300px; height: 300px;", alt: "Steff" %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 text-center mt-5">
      <h6>Atmos fue codeado en Le Wagon, Web Development bootcamp por Dani, Nico y Steff</h6>
    </div>
  </div>
</div>
