<h1>Pages#home Esta es la pagina principal</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="products">
        <% @products.each do |product| %>
          <h4><%= product.name %></h4>
          <p><%= product.price %></p>
          <p><%= product.brand %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
