.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8317F4;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: darkmagenta;
  color: white;
}

.btn-flat-banner {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: lime;
  transition: background 0.3s ease;
}

.btn-flat-banner:hover {
  background: limegreen;
  color: black;
}
