.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.945);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(231, 219, 219);
}

.btn .btn-outline-success .rounded {
  color: white;
}
