<div class="container">
<% if current_user.seller %>

  <h1>Hola <%= current_user.full_name %>!</h1>
  <hr>
  <h3>Estos son tus productos:</h3>
  <ul>
  <% @products_seller.each do |product| %>
  <li><%= product.name %></li>
  <% end %>
  </ul>

<% else %>

  <hr>
  <h3 class="pb-5">Estos son nuestros productos:</h3>
  <div class="container-fluid">
    <ul class="grid_products" style="list-style-type: none;">
      <% @products.each do |product| %>
      <li class>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

</div>
